#logic {
    background-color:rgba(0,80,0, 80);
    text-align: center;
    box-sizing: border-box;
    padding: 10%;
    margin-top: 10%;
    font-size: larger;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
